@model List<GrowIndigo.DAL.DataEntities.Shop_CartInfo>
@using GrowIndigo.Utilities.Resources;
@using GrowIndigo.Utilities;
@using GrowIndigo.DAL.DataModels.CommonModels;
@{
    var Projectname = ConfigReader.ProjectName;
    LoginViewModel loggedInUser = Session["LoggedInUser"] != null ? (LoginViewModel)Session["LoggedInUser"] : null;
    var ServerProductImage = ConfigReader.ServerProductImage;
    var ServerSubProductImage = ConfigReader.ServerSubProductImage;
}
<script src="@Projectname/Scripts/jquery-3.3.1.min.js"></script>
<script src="@Projectname/Scripts/jquery.validate.min.js"></script>
<script src="@Projectname/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="sinlge-bar shopping mr-0">
    <a href="#" class="single-icon">
        <i class="ti-bag"></i>
        @if (Model != null)
        {
            if (Model.Count > 0)
            {
                <span class="total-count">@Model.Count</span>
            }

        }
    </a>
    <!-- Shopping Item -->
    <div class="shopping-item">
        <div class="dropdown-cart-header">
            @if (Model != null)
            {
                <span>@Model.Count Items</span>
                if (@Model.Count > 0)
                {
                    <a href="@Projectname/Order/CartInfo">@Resource.GrowOnline_Common_ViewCart</a>
                }

            }

        </div>
        <div class="scroll-item">
            @if (Model != null)
            {

                foreach (var cartInfo in Model)
                {
                    <ul class="shopping-list">
                        <li>
                            <a href="#" class="remove" onclick="DeleteProductInCart(@cartInfo.Id)" title="Remove this item"> Delete : <i class="fa fa-remove"></i></a>
                            @*<a class="cart-img" href="#"> <img src="@Projectname/Upload/@cartInfo.ProductImageUrl" alt="@cartInfo.ProductName"></a>*@
                            <h4><a href="#">Product Name : @cartInfo.ProductName</a></h4>
                            <br>
                            <h4><a href="#">Quantity : @cartInfo.Quantity</a></h4>
                            <br>
                            <h4><a href="#">Price : @cartInfo.Price</a></h4>
                            <br>
                            @*<p class="quantity"><span> Price : @cartInfo.Price <i class="fa fa-inr" aria-hidden="true"></i></span></p>*@
                        </li>
                    </ul>
                }
            }

            else

            {
                <div>
                    <pre> @Resource.GrowOnline_Common_noCartProduct</pre>
                </div>
            }
        </div>

        @if (@Model.Count > 0)
        {
            <div class="bottom">
                <div class="total">
                    <span>@Resource.GrowOnline_Common_Total</span>
                    <span class="total-amount"> @ViewBag.TotalPricePartial  <i class="fa fa-inr" aria-hidden="true"></i></span>
                </div>
                <a href="@Projectname/Order/CartInfo" class="btn animate" onclick="Loader()">@Resource.GrowOnline_Common_CheckOut</a>
            </div>
        }
        else

        {
            <div>
                <pre> @Resource.GrowOnline_Common_noCartProduct</pre>
            </div>
        }

    </div>
    <!--/ End Shopping Item -->
</div>
<script>
    function Loader() {
        $("#preloader").show();
    }
    function DeleteProductInCart(cartId) {

           // alert("delete");
            //alert(cartId);
           // debugger;
            $("#preloader").show();

            $.ajax({
                type: "Post",
                url: "@Projectname/Order/DeleteCartProduct?cartId=" + cartId,
                data: cartId,
                dataType: "json",
                success: function (result) {
                  //  debugger;
                    if (result == "true") {
                        $("#preloader").show();
                        swal("@Resource.GrowOnline_Common_ProductRemoved");
                        window.location.href = "@Projectname/Order/CartInfo";
                        location.reload(true);
                    }
                    else {
                        $("#preloader").show();
                        location.reload(true);
                        swal("@Resource.GrowOnline_Common_ErrorProductRemoved")
                        window.location.href = "@Projectname/Order/CartInfo";
                    }
                }


            });

        }

</script>