@using GrowIndigo.Utilities.Resources;
@{
    ViewBag.Title = "About Us";
}

<!-- Slider Area -->
<section class="inner-banner-bg">&nbsp;</section>
<!-- Start Cowndown Area -->

<section class="cown-down section">
    <div class="section-title">
        <h2>About Us</h2>
    </div>
    <div class="section-inner ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-12 padding-right">
                    <div class="image">
                        <img src="~/images/bg-01.jpg" alt="bg-01">
                    </div>
                </div>
                <div class="col-lg-6 col-12 padding-left">
                    <div class="content">
                        <h3 class="title">@Resource.GrowOnline_Message_AboutUsHeading</h3>
                        <p class="text">
                           @Resource.GrowOnline_Message_AboutUsHeadingTextbox
                        </p>
                        <p>
                           @Resource.GrowOnline_Message_AboutUsHeadingTextbox2
                        </p>
                        <button type="button" class="btn mt-15" title="Read More ">@Resource.GrowOnline_Common_ReadMore</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-message-box pb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <h2 class="section-title">@Resource.GrowOnline_Common_AboutGrowINd</h2>
                <p>
                    @Resource.GrowOnline_Common_AboutGrowINdTitle1 </strong>
                </p>
                <p>
                    @Resource.GrowOnline_Common_AboutGrowINdTitle2

                </p>
                <p>
                    <strong>
                        <a href="https://mahyco.com/" target="_blank">
                            <img src="~/images/Mahyco-Grow-Logo.png">&nbsp;&nbsp;Mahyco Grow™
                        </a>
                    </strong>
                    @Resource.GrowOnline_Common_AboutGrowINdTitle3
                </p>
                <p>
                    <a href="https://www.indigoag.com/" target="_blank">
                        <img src="~/images/indigo.png">&nbsp;&nbsp;<strong>
                            Indigo
                            Ag
                        </strong>
                    </a> @Resource.GrowOnline_Common_AboutGrowINdTitle4
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /End Cowndown Area -->
