@model List<GrowIndigo.DAL.DataEntities.shop_catagory>
@using GrowIndigo.Utilities.Resources;
@using GrowIndigo.DAL.DataModels.CommonModels;
@using GrowIndigo.Utilities;

@{
    var ServerSubProductImage = ConfigReader.ServerSubProductImage;
    var Projectname = ConfigReader.ProjectName;
    LoginViewModel loggedInUser = Session["LoggedInUser"] != null ? (LoginViewModel)Session["LoggedInUser"] : null;
}
<div class="tab-single">
    <div class="row">
        @foreach (var category in Model)
        {

            <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="single-product">
                    <div class="product-img">
                        <a href="@Projectname/Productmaster/GetProductFilter?CategoryName=@category.catagory" onclick="GetCategory()">
                            <img class="default-img" src="@ServerSubProductImage/@category.imgurl" alt="#">
                            @*<img class="hover-img" src="@product.SkuName" alt="#">*@
                        </a>
                        @*<div class="button-head">*@
                            @*<div class="product-action">
                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#">
                                    <i class=" ti-eye"></i><span>Quick Shop</span>
                                </a>
                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>

                            </div>

                            <div class="product-action-2">
                                <a title="Add to cart" onclick="addTocart(@product.pkSkuId)">Add to cart</a>
                            </div>*@


                        @*</div>*@
                    </div>
                    <div class="product-content">
                        <h3><a href="@Projectname/Productmaster/GetProductFilter?CategoryName=@category.catagory">@category.catagory</a></h3>
                        <div class="product-price">
                            @*<span>45 <i class="fa fa-inr" aria-hidden="true"></i></span>*@
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
<script>
    function addTocart(productId) {
        //alert("1");
        debugger;
          $("#preloader").show();

        if ('@loggedInUser' != '') {
            $("#preloader").hide();
            $.ajax({
                type: "Post",
                url: '@Projectname/Order/AddCartDetailForUser?productId=' + productId,
                dataType: "json",
                success: function (result) {
                    //debugger;
                    if (result == "true") {
                        $("#preloader").hide();
                        window.location.href = "@Projectname/Order/CartInfo"
                       //location.reload(true);
                        //localStorage.removeItem("ProductId");
                    }
                    else if (result = "alreadyexits") {
                        $("#preloader").hide();
                        swal("@Resource.GrowOnline_Message_ProductAdded");
                        location.reload(true);
                        window.location.href = "@Projectname/Order/CartInfo"
                        //localStorage.removeItem("ProductId");
                    }
                    else {
                        $("#preloader").hide();
                        swal("@Resource.GrowOnline_Message_ErrorProductAdded");


                        window.location.href = "@Projectname/Order/CartInfo"
                    }
                }


            });


        }

        else {
            $("#preloader").hide();
             // localStorage.setItem("ProductId", "");
            $('#authentication-modal').modal('show');
        }
    }
     function GetCategory() {

         $("#preloader").show();
    }
</script>



