@using GrowIndigo.Utilities;
@using GrowIndigo.Utilities.Resources;
@using GrowIndigo.Utilities;
@using GrowIndigo.DAL.DataModels.CommonModels;
@model List<GrowIndigo.DAL.DataModels.Product.ProductMasterViewModel>
@{
    /**/

    /**/


    LoginViewModel loggedInUser = Session["LoggedInUser"] != null ? (LoginViewModel)Session["LoggedInUser"] : null;
    var Projectname = ConfigReader.ProjectName;
    var ServerProductImage =ConfigReader.ServerProductImage;
    var ServerSubProductImage = ConfigReader.ServerSubProductImage;
    


}



<script src="https://kendo.cdn.telerik.com/2020.1.114/js/kendo.all.min.js"></script>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.default-v2.min.css" />

<div id="preloader" style="display:none">
    <div class="loader"></div>
</div>
<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
      rel="stylesheet">


@*<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.1/css/bootstrap-slider.css"
      rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.js"></script>

<script src="https://unpkg.com/bootstrap-slider@9.9.1/dist/bootstrap-slider.js"></script>*@
 


<a id="scrollUp" href="#" style="display: none;"><span><i class="fa fa-angle-up"></i></span></a>

<header class="header shop">
    <div data-includeHTML="_HeaderPartial.html"></div>
</header>
<!--/ End Header -->
<!-- Product Style -->
<section class="product-area shop-sidebar shop section">
    <div class="section-title">
        @if (ViewBag.SubCategory == "Seed")
        {
            <h2>@Resource.GrowOnline_Common_sEEDSsUBcAT</h2>
        }
        else
        {
            <h2>@Resource.GrowOnline_Common_Product_CatDetails</h2>
        }

    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="shop-sidebar">
                    @if (ViewBag.SubCategory != "Seed")
                    {

                        @*<p>
                <label for="amount">Price range:</label>
                <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>

            <div id="slider-range"></div>*@

                        @*<div class="slidecontainer">
                            <input type="range" min="@ViewBag.MinPrice" max="@ViewBag.MidPrice" value="@ViewBag.MinPrice" class="slider" onchange="getProductByPriceFilter()" id="MinRangeInput" />
                            <p><label>Min Range:</label> <span id="MinRangeOutput"></span></p>
                        </div>
                        <div class="slidecontainer mt-3">
                            <input type="range" min="@ViewBag.MidPrice" max="@ViewBag.MaxPrice" value="@ViewBag.MaxPrice" class="slider" onchange="getProductByPriceFilter()" id="MaxRangeInput" />
                            <p><label>Max Range:</label> <span id="MaxRangeOutput"></span></p>
                        </div>*@
                        <!-- Shop By Price -->
                        @*<div class="single-widget range">
                <h3 class="title">Shop by Price</h3>
                <div class="price-filter">
                    <div class="price-filter-inner">
                        <div id="slider-range"></div>
                        <div class="price_slider_amount">
                            <div class="label-input">
                                <span>Range:</span><input type="text" id="amount" name="price" placeholder="Add Your Price" />
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="check-box-list">
                    <li>
                        <label class="checkbox-inline" for="1">
                            <input name="news" id="1" type="checkbox"><i class="fa fa-inr" aria-hidden="true"></i> 20 - <i class="fa fa-inr" aria-hidden="true"></i> 50<span class="count">(3)</span>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-inline" for="2">
                            <input name="news" id="2" type="checkbox"><i class="fa fa-inr" aria-hidden="true"></i> 50 - <i class="fa fa-inr" aria-hidden="true"></i> 100<span class="count">(5)</span>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-inline" for="3">
                            <input name="news" id="3" type="checkbox"><i class="fa fa-inr" aria-hidden="true"></i> 100 - <i class="fa fa-inr" aria-hidden="true"></i> 250<span class="count">(8)</span>
                        </label>
                    </li>
                </ul>
            </div>*@
                    }
                    <!--/ End Shop By Price -->
                    <!-- Single Widget -->

                    @Html.Action("ManufactureDetails", "Layout")
                    <!--/ End Single Widget -->
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="row">
                    <div class="col-12">
                       
                    </div>
                </div>
                <div class="rowd">
                    <div class="row" id="sectionDiv"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 500,
            values: [75, 300],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) +
            " - $" + $("#slider-range").slider("values", 1));
    });
</script>





<script>

    function getProductByPriceFilter() {
        var minPriceValue = $('#MinRangeInput').val();
   
        var maxPriceValue = $('#MaxRangeInput').val();

        if (maxPriceValue != '' & minPriceValue != '') {

            GetArticleList()
        }

    }



    function addTocart(productId) {
        //alert("1");
        debugger;
          $("#preloader").show();

        if ('@loggedInUser' != '') {
           
            $.ajax({
                type: "Post",
                url: '@Projectname/Order/AddCartDetailForUser?productId=' + productId,
                dataType: "json",
                success: function (result) {
                    //debugger;
                    if (result == "true") {
                        $("#preloader").hide();
                        window.location.href = "@Projectname/Order/CartInfo"
                       //location.reload(true);
                        //localStorage.removeItem("ProductId");
                    }
                    else if (result = "alreadyexits") {
                        $("#preloader").hide();
                        swal("@Resource.GrowOnline_Message_ProductAdded");
                        location.reload(true);
                        window.location.href = "@Projectname/Order/CartInfo"
                        //localStorage.removeItem("ProductId");
                    }
                    else {
                        $("#preloader").hide();
                        swal("@Resource.GrowOnline_Message_ErrorProductAdded");


                        window.location.href = "@Projectname/Order/CartInfo"
                    }
                }


            });


        }

        else {
            $("#preloader").hide();
             // localStorage.setItem("ProductId", "");
            $('#authentication-modal').modal('show');
        }
    }
</script>


<script type="text/javascript">

        console.log("ready!");
      var datePublished = '';
        var dateModified = '';
        var counter = 0;
        var categoryid = 0;
        var companyName = "N/A";
        var state = 0;
        var search = "N/A";



        if ('@TempData["CategoryName"]' != '') {
            var categoryid = '@TempData["CategoryName"]';
        }

        if ('@TempData["CompanyName"]' != '') {
            var companyName = '@TempData["CompanyName"]';
    }
    if ('@TempData["search"]' != '') {
        var search = '@TempData["search"]';
    }

    if ('@TempData["CategoryName"]' == "Seed") {


        setTimeout(function () { GetSubCategoryArticleList(); }, 500);


        $('.searchFilter').click(function () {
            $('#sectionDiv').html('');
            counter = 0;
            GetSubCategoryArticleList();
        });

        function GetSubCategoryArticleList() {
            var getState = localStorage.getItem("HomePageStateId");
            var url = '@Url.Action("GetSubCategoryProductList", "ProductMaster")?counter=' + counter + '&Category=' + categoryid + '&State=' + getState + '&Search=' + search;




            var getStateSub = localStorage.getItem("HomePageStateId");

            if (getStateSub != '') {
                url = url + '&search=' + getState;
            }
            $.ajax({
                url: url,
                type: "GET",
                headers: {
                    "Content-Type": "application/json"
                },
                dataType: "json",
                beforeSend: function () {
                    loading = true;
                    $("#preloader").show();
                },
                complete: function () {
                    loading = false;
                    $("#preloader").hide();
                },
                success: function (result) {

                    ArticleSubList = result;
                    if (result != null) {
                        console.log(result, "ans");
                        for (var i = 0; i < result.length; i++) {


                            @*$('#sectionDiv').append('<div class="col-lg-3 col-md-6 col-12"> <div class="single-product seed-sub-product"><div class="product-img"><a href="@Projectname/Productmaster/GetSubCategoriesProductFilter?CategoryName=' + result[i].crp_catagary + '&CropName=' + result[i].crp_Type + '"> <a href="@Projectname/Productmaster/GetSubCategoriesProductFilter?CategoryName=' + result[i].crp_catagary + '&CropName=' + result[i].crp_Type + '"><img class="default-img" src="@ServerSubProductImage' + result[i].imgurl + '" alt="#"></a><div class=""><div class="product-action"></div><div class="product-action-2"></div></div></div><div class="product-content"><h3><a href="@Projectname/Productmaster/GetSubCategoriesProductFilter?CategoryName=' + result[i].crp_catagary + '&CropName=' + result[i].crp_Type + '">' + result[i].crp_Type + '</a></h3><div class="product-price"><span>' + result[i].crp_catagary + ' </span></div></div></div></div>');*@
                            $('#sectionDiv').append('<div class="col-lg-3 col-md-6 col-12"> <div class="single-product seed-sub-product"><div class="product-img"><a href="@Projectname/Productmaster/GetSubCategoriesProductFilter?CategoryName=' + result[i].crp_catagary + '&CropName=' + result[i].crp_Type + '" onclick="GetProductForSubCategory()"> <a href="@Projectname/Productmaster/GetSubCategoriesProductFilter?CategoryName=' + result[i].crp_catagary + '&CropName=' + result[i].crp_Type + '"><img class="default-img" src="@ServerSubProductImage' + result[i].imgurl + '" alt="#"></a><div class=""><div class="product-action"></div><div class="product-action-2"></div></div></div><div class="product-content"><h3><a href="@Projectname/Productmaster/GetSubCategoriesProductFilter?CategoryName=' + result[i].crp_catagary + '&CropName=' + result[i].crp_Type + '" onclick="GetProductForSubCategory()">' + result[i].crp_Type + '</a></h3><div class="product-price"><span>' + result[i].crp_catagary + ' </span></div></div></div></div>');
                        }
                    }
                    else {

                        $('#sectionDiv').html('<div class="col-lg-12 col-12"><div class="bd-example w-100"><div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> @Resource.GrowOnline_Message_NoProductAvai</div></div>/*<div class="cat-info-subscribe"><p class="lead">@Resource.GrowOnline_Message_NoSubCatProductAvai</p></div>*/');
                    }
                    if (result.length == 0 && ($('#sectionDiv').html() == "" || $('#sectionDiv').html() == undefined)) {

                        $('#sectionDiv').html('<div class="col-lg-12 col-12"><div class="bd-example w-100"><div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> @Resource.GrowOnline_Message_NoSubCatProductAvai</div></div>');

                    }





                },
                error: function (httpRequest, textStatus, errorThrown) {

                    @*$('#sectionDiv').html('<div class="cat-info-subscribe"><p class="lead">@Resource.LegalResource_Message_DynamicNotAvai</p></div>');*@


                }


            });

            $(window).scroll(function () {
                if (ArticleSubList.length > 0) {
                    if (!loading && $(window).scrollTop() >= ($(document).height() - $(window).height() - 100)) {
                        counter = counter + 6;
                        GetSubCategoryArticleList();
                    }
                }
            });

        }

    }

    else {

        setTimeout(function () { GetArticleList(); }, 500);


        $('.searchFilter').click(function () {
            $('#sectionDiv').html('');
            counter = 0;
            GetArticleList();
        });



        //To DO



        //function ChangeCategory() {
        //    $('#sectionDiv').html('');
        //    counter = 0;
        //    GetArticleList();

        //}

        function sortFunction() {
            //debugger;
            //alert($('#opt').val())
            counter = 0;
            $('#sectionDiv').html('');
            GetArticleList();
        }




        function GetArticleList() {
            debugger;
            var getState = localStorage.getItem("HomePageStateId");
            var url = '@Url.Action("GetProductList", "ProductMaster")?counter=' + counter + '&Category=' + categoryid + '&State=' + getState + '&Search=' + search + '&CompanyName=' + companyName;


            if ($('#ddlsort').val() != 'null') {
                url = url + '&Sort=' + $('#opt').val();
            }

            if ($('#MinRangeInput').val() != '') {
                url = url + '&MinPrice=' + $('#MinRangeInput').val();
            }
            if ($('#MaxRangeInput').val() != '') {
                url = url + '&MaxPrice=' + $('#MaxRangeInput').val();
            }



            var getState = localStorage.getItem("HomePageStateId");

            if (getState != '') {
                url = url + '&search=' + getState;
            }
            $.ajax({
                url: url,
                type: "GET",
                headers: {
                    "Content-Type": "application/json"
                },
                dataType: "json",
                beforeSend: function () {
                    loading = true;
                    $("#preloader").show();
                },
                complete: function () {
                    loading = false;
                    $("#preloader").hide();
                },
                success: function (result) {

                    ArticleList = result;
                    if (result != null) {
                        console.log(result, "ans");
                        debugger;
                        for (var i = 0; i < result.length; i++) {
                            if (result[i].ProductStatus == "Available") {


                                var imageurl = result[i].imageUrl.split(',',1);

                                console.log(imageurl, "imageurl");

                                //alert(result[i].ProductStatus);
                                @*$('#sectionDiv').append('<div class="col-lg-4 col-md-6 col-12"> <div class="single-product"><div class="product-img"><a href="@Projectname/Productmaster/GetProductDetail?ProductId=' + result[i].pkSkuId + '"> <a href="@Projectname/Productmaster/GetProductDetail?ProductId=' + result[i].pkSkuId + '"><img class="default-img" src="@ServerProductImage' + imageurl + '" alt="#"></a><div class="button-head"><div class="product-action"></div><div class="product-action-2"></div></div></div><div class="product-content"><h3><a href="@Projectname/ProductMaster/GetProductDetail?ProductId=' + result[i].pkSkuId + '">' + result[i].SkuName + ' (PackingSize - ' + result[i].packingSize + ' </a></h3><a class="addtoCart" title="Add to cart" onclick="addTocart(' + result[i].pkSkuId + ')">Add to cart</a><div class="product-price"><i class="fa fa-inr" aria-hidden="true"></i><span>' + result[i].Price + ' </span></div></div></div></div>');*@
                                $('#sectionDiv').append('<div class="col-lg-4 col-md-6 col-12"> <div class="single-product"><div class="product-img"><a href="@Projectname/Productmaster/GetProductDetail?ProductId=' + result[i].pkSkuId + '"> <a href="@Projectname/Productmaster/GetProductDetail?ProductId=' + result[i].pkSkuId + '"><img class="default-img" src="@ServerProductImage' + imageurl + '" alt="#"></a><div class="button-head"><div class="product-action"></div><div class="product-action-2"></div></div></div><div class="product-content"><h3><a href="#" onclick="GetProductDetailPage(' + result[i].pkSkuId + ')" >' + result[i].SkuName + ' (PackingSize - ' + result[i].packingSize + ' </a></h3><a class="addtoCart" title="Add to cart" onclick="addTocart(' + result[i].pkSkuId + ')">Add to cart</a><div class="product-price"><i class="fa fa-inr" aria-hidden="true"></i><span>' + result[i].Price + ' </span></div></div></div></div>');
                            }
                            else {
                                //for out of stock
                                $('#sectionDiv').append('<div class="col-lg-4 col-md-6 col-12"> <div class="single-product out-of-stock"><div class="ribbon3">Out of Stock</div><div class="product-img"><a href="#"> <a href="#"><img class="default-img" src="@ServerProductImage' + imageUrl + '" alt="#"></a><div class="button-head"><div class="product-action"></div><div class="product-action-2"></div></div></div><div class="product-content"><h3><a href="#">' + result[i].SkuName + ' (PackingSize - ' + result[i].packingSize + ' </a></h3><div class="product-price"><i class="fa fa-inr" aria-hidden="true"></i><span>' + result[i].Price + ' </span></div></div></div></div>');
                            }


                        }
                    }
                    else {
                        $('#sectionDiv').html('<div class="col-lg-12 col-12"><div class="bd-example w-100"><div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  @Resource.GrowOnline_Message_NoSubCatProductAvai</div></div>/*<div class="cat-info-subscribe"><p class="lead"> @Resource.GrowOnline_Message_NoSubCatProductAvai</p></div>*/');
                    }
                    if (result.length == 0 && ($('#sectionDiv').html() == "" || $('#sectionDiv').html() == undefined)) {
                        $('#sectionDiv').html('<div class="col-lg-12 col-12"><div class="bd-example w-100"><div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  @Resource.GrowOnline_Message_NoProduct</div></div>');

                    }





                },
                error: function (httpRequest, textStatus, errorThrown) {

                    @*$('#sectionDiv').html('<div class="cat-info-subscribe"><p class="lead">@Resource.LegalResource_Message_DynamicNotAvai</p></div>');*@


                }


            });
        }
        $(window).scroll(function () {
            if (ArticleList.length > 0) {
                if (!loading && $(window).scrollTop() >= ($(document).height() - $(window).height() - 100)) {
                    counter = counter + 6;
                    GetArticleList();
                }
            }
        });

    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*Slider scripts*@
<script>
    //MinRange
    var slider = document.getElementById("MinRangeInput");
    var output = document.getElementById("MinRangeOutput");
    output.innerHTML = slider.value;

    slider.oninput = function () {
        output.innerHTML = this.value;
    }

    //MaxRange
    var MaxRangeInput = document.getElementById("MaxRangeInput");
    var MaxRangeOutput = document.getElementById("MaxRangeOutput");
    MaxRangeOutput.innerHTML = MaxRangeInput.value;

    MaxRangeInput.oninput = function () {
        MaxRangeOutput.innerHTML = this.value;
    }
</script>
<script>
    function GetProductDetailPage(productId)
    {
        $("#preloader").show();
        //alert("Detail")
           var url = '@Url.Action("GetProductDetail", "ProductMaster")?ProductId=' + productId
        $.ajax({

                url: url,
                type: "GET",
                headers: {
                    "Content-Type": "application/json"
                },
                dataType: "json",
                beforeSend: function () {
                    loading = true;
                    $("#preloader").show();
                },
                complete: function () {
                    loading = false;
                    $("#preloader").hide();
                },
                success: function (result) {

                    $("#preloader").hide();





                },
                error: function (httpRequest, textStatus, errorThrown) {

                   


                }


            });
    }
    function GetProductForSubCategory() {

        $("#preloader").show();

    }

</script>